<div class="head">
  <div class="df full-width">
    <div class="pos-r">
      <p-dropdown class="search-dropdown" [(ngModel)]="selectedSearchIn" [options]="searchIn"></p-dropdown>
      <label class="lable-drb">Search in</label>
    </div>
    <div class="input-search pos-r">
      <input type="text" (focus)="openSearch()" placeholder="Search content / tag" pInputText />
      <div class="icon-input">
        <img *ngIf="!searchResult" class="c-p" width="20px" src="assets/img/search.png" alt="">
        <img *ngIf="searchResult" (click)="closeSearch()" class="c-p" width="20px" src="assets/img/times-black.png" alt="">
      </div>
    </div>
  </div>
  <div class="df">
    <div class="df ai-c c-p m-r-40 text-wrap-none">
      <img class="m-r-10" src="assets/img/folder-open.png" alt="">
      Load Files
    </div>
    <div (click)="openDubicate()" class="df ai-c c-p text-wrap-none">
      <img class="m-r-10" src="assets/img/files-group.png" alt="">
      Duplicates
    </div>
  </div>
</div>

<div class="content-wrap">

  <div *ngIf="folders" class="folder-side">
    <div class="side-head">
      <div>
        Folders
      </div>
      <div class="df ai-c">
        <div class="m-r-40 c-p">
          <img src="assets/img/addFolderTree.png" alt="">
        </div>
        <div class="c-p arrow-right">
          <img class="animate" src="assets/img/arrow.png" alt="">
        </div>
      </div>
    </div>
    <div class="body-side">
      <p-tree [value]="filesTree0"></p-tree>
    </div>
  </div>

  <div *ngIf="welcome" class="folder-side full-width m-r-0">
    <div class="side-head"></div>
    <div class="body-side col jc-c ai-c text-center">
      <div class="m-b-20">
        Welcome to SPOT
      </div>
      <div class="m-b-20">
        To create your content repository, start by loading source files <br>
        Word and PDF file are accepted
      </div>
      <label class="c-p ai-c df">
        <img class="m-r-20" src="assets/img/folder-open.png" alt="">
        Load Files
      </label>
    </div>
  </div>

  <div *ngIf="dublicate" class="articles-side full-width">
    <div class="side-head">
      <div>
        Duplicate Questions
      </div>
      <div (click)="backContent()" class="df ai-c c-p">
        <img width="16px" class="m-r-5 rotate--90" src="assets/img/caret.png" alt="">
        <div>
          Back to content
        </div>
      </div>
    </div>
    <div class="body-side">
      <div class="question-row">
        <div (click)="showQuestion = !showQuestion " class="question-row-head">
          <div [ngClass]="{'rotate-180': showQuestion}" class="m-r-10 icon animate">
            <img src="assets/img/caret-ques.png" alt="">
          </div>
          <div>
            How do I use the 3D touch? (2)
          </div>
        </div>
        <div *ngIf="showQuestion" class="question-row-body">
          <div>
            <div class="question-item">
              <div>
                <div class="fs-12 m-n-7">
                  What is the camera resolution?
                </div>
                <div class="color-gray-600">
                  Content > Tecnical > Phones > iPhone > iPhone 8 > Specifications
                </div>
              </div>
              <div class="trash-icon">
                <img width="22px" src="assets/img/trash.png" alt="">
              </div>
            </div>
            <div class="question-item">
              <div>
                <div class="fs-12 m-n-7">
                  What is the camera resolution?
                </div>
                <div class="color-gray-600">
                  Content > Tecnical > Phones > iPhone > iPhone 8 > Specifications
                </div>
              </div>
              <div class="trash-icon">
                <img width="22px" src="assets/img/trash.png" alt="">
              </div>
            </div>
            <div class="question-item">
              <div>
                <div class="fs-12 m-n-7">
                  What is the camera resolution?
                </div>
                <div class="color-gray-600">
                  Content > Tecnical > Phones > iPhone > iPhone 8 > Specifications
                </div>
              </div>
              <div class="trash-icon">
                <img width="22px" src="assets/img/trash.png" alt="">
              </div>
            </div>
          </div>
          <div class="df jc-e p-r-40 m-t-20">
            <div class="df ai-c c-p">
              <img class="m-r-5" src="assets/img/succsess.png" alt="">
              Keep Duplicates
            </div>
          </div>
        </div>
      </div>
      <div class="question-row">
        <div (click)="showQuestion = !showQuestion " class="question-row-head">
          <div [ngClass]="{'rotate-180': showQuestion}" class="m-r-10 icon animate">
            <img src="assets/img/caret-ques.png" alt="">
          </div>
          <div>
            How do I use the 3D touch? (2)
          </div>
        </div>
        <div *ngIf="showQuestion" class="question-row-body">
          <div>
            <div class="question-item">
              <div>
                <div class="fs-12 m-n-7">
                  What is the camera resolution?
                </div>
                <div class="color-gray-600">
                  Content > Tecnical > Phones > iPhone > iPhone 8 > Specifications
                </div>
              </div>
              <div class="trash-icon">
                <img width="22px" src="assets/img/trash.png" alt="">
              </div>
            </div>
            <div class="question-item">
              <div>
                <div class="fs-12 m-n-7">
                  What is the camera resolution?
                </div>
                <div class="color-gray-600">
                  Content > Tecnical > Phones > iPhone > iPhone 8 > Specifications
                </div>
              </div>
              <div class="trash-icon">
                <img width="22px" src="assets/img/trash.png" alt="">
              </div>
            </div>
            <div class="question-item">
              <div>
                <div class="fs-12 m-n-7">
                  What is the camera resolution?
                </div>
                <div class="color-gray-600">
                  Content > Tecnical > Phones > iPhone > iPhone 8 > Specifications
                </div>
              </div>
              <div class="trash-icon">
                <img width="22px" src="assets/img/trash.png" alt="">
              </div>
            </div>
          </div>
          <div class="df jc-e p-r-40 m-t-20">
            <div class="df ai-c c-p">
              <img class="m-r-5" src="assets/img/succsess.png" alt="">
              Keep Duplicates
            </div>
          </div>
        </div>
      </div>
      <div class="question-row">
        <div (click)="showQuestion = !showQuestion " class="question-row-head">
          <div [ngClass]="{'rotate-180': showQuestion}" class="m-r-10 icon animate">
            <img src="assets/img/caret-ques.png" alt="">
          </div>
          <div>
            How do I use the 3D touch? (2)
          </div>
        </div>
        <div *ngIf="showQuestion" class="question-row-body">
          <div>
            <div class="question-item">
              <div>
                <div class="fs-12 m-n-7">
                  What is the camera resolution?
                </div>
                <div class="color-gray-600">
                  Content > Tecnical > Phones > iPhone > iPhone 8 > Specifications
                </div>
              </div>
              <div class="trash-icon">
                <img width="22px" src="assets/img/trash.png" alt="">
              </div>
            </div>
            <div class="question-item">
              <div>
                <div class="fs-12 m-n-7">
                  What is the camera resolution?
                </div>
                <div class="color-gray-600">
                  Content > Tecnical > Phones > iPhone > iPhone 8 > Specifications
                </div>
              </div>
              <div class="trash-icon">
                <img width="22px" src="assets/img/trash.png" alt="">
              </div>
            </div>
            <div class="question-item">
              <div>
                <div class="fs-12 m-n-7">
                  What is the camera resolution?
                </div>
                <div class="color-gray-600">
                  Content > Tecnical > Phones > iPhone > iPhone 8 > Specifications
                </div>
              </div>
              <div class="trash-icon">
                <img width="22px" src="assets/img/trash.png" alt="">
              </div>
            </div>
          </div>
          <div class="df jc-e p-r-40 m-t-20">
            <div class="df ai-c c-p">
              <img class="m-r-5" src="assets/img/succsess.png" alt="">
              Keep Duplicates
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="searchResult" class="articles-side full-width">
    <div class="side-head">
      <div>
        Search Results
      </div>
      <div class="df ai-c color-primary">
        <img [routerLink]="['/article']" class="m-r-10 c-p" src="assets/img/addArtictes.png" alt="">
        <div class="m-r-30">
          Add Article
        </div>
        <img class="c-p m-r-40" width="22px" src="assets/img/trash.png" alt="">
        <div class="df ai-c c-p">
          <img width="16px" class="m-r-5 rotate--90" src="assets/img/caret.png" alt="">
          <div>
            Back to content
          </div>
        </div>
      </div>
    </div>
    <div class="body-side">
      <div class="search-row">
        <div>
          <input class="m-r-20 m-t-0" type="checkbox">
        </div>
        <div>
          <div class="df ai-c jc-b m-b-7">
            <div>
              About iPhone 7 and up
            </div>
            <div class="c-p delete-icon">
              <img width="18px" src="assets/img/trash.png" alt="">
            </div>
          </div>
          <div class="stick-row">
            <div class="ai-c df">
              <img class="m-r-3" src="assets/img/stiket.png" alt="">
              <div>
                Self Service
              </div>
            </div>
          </div>
          <div class="description">
            <p style="margin: 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
              For self adjusting the 3D touch, you can also press firmly (3D Touch) on an app icon to bring up quick
              actions. All apps have quick actions, even if it's simply the For self adjusting the 3D touch, you can
              also
              press firmly (3D Touch) on an app icon to bring up quick actions. All apps have quick actions, even if
              it's
              simply the For self adjusting the 3D touch, you can also press firmly (3D Touch) on an app icon to bring
              up
              quick actions. All apps have quick actions, even if it's simply the For self adjusting the 3D touch, you
              can also press firmly (3D Touch) on an app icon to bring up quick actions. All apps have quick actions,
              even if it's simply the
            </p>
          </div>
        </div>
      </div>
      <div class="search-row">
        <div>
          <input class="m-r-20 m-t-0" type="checkbox">
        </div>
        <div>
          <div class="df ai-c jc-b m-b-7">
            <div>
              About iPhone 7 and up
            </div>
            <div class="c-p delete-icon">
              <img width="18px" src="assets/img/trash.png" alt="">
            </div>
          </div>
          <div class="stick-row">
            <div class="ai-c df">
              <img class="m-r-3" src="assets/img/stiket.png" alt="">
              <div>
                Self Service
              </div>
            </div>
          </div>
          <div class="description">
            <p style="margin: 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
              For self adjusting the 3D touch, you can also press firmly (3D Touch) on an app icon to bring up quick
              actions. All apps have quick actions, even if it's simply the For self adjusting the 3D touch, you can
              also
              press firmly (3D Touch) on an app icon to bring up quick actions. All apps have quick actions, even if
              it's
              simply the For self adjusting the 3D touch, you can also press firmly (3D Touch) on an app icon to bring
              up
              quick actions. All apps have quick actions, even if it's simply the For self adjusting the 3D touch, you
              can also press firmly (3D Touch) on an app icon to bring up quick actions. All apps have quick actions,
              even if it's simply the
            </p>
          </div>
        </div>
      </div>
      <div class="search-row">
        <div>
          <input class="m-r-20 m-t-0" type="checkbox">
        </div>
        <div>
          <div class="df ai-c jc-b m-b-7">
            <div>
              About iPhone 7 and up
            </div>
            <div class="c-p delete-icon">
              <img width="18px" src="assets/img/trash.png" alt="">
            </div>
          </div>
          <div class="stick-row">
            <div class="ai-c df">
              <img class="m-r-3" src="assets/img/stiket.png" alt="">
              <div>
                Self Service
              </div>
            </div>
          </div>
          <div class="description">
            <p style="margin: 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
              For self adjusting the 3D touch, you can also press firmly (3D Touch) on an app icon to bring up quick
              actions. All apps have quick actions, even if it's simply the For self adjusting the 3D touch, you can
              also
              press firmly (3D Touch) on an app icon to bring up quick actions. All apps have quick actions, even if
              it's
              simply the For self adjusting the 3D touch, you can also press firmly (3D Touch) on an app icon to bring
              up
              quick actions. All apps have quick actions, even if it's simply the For self adjusting the 3D touch, you
              can also press firmly (3D Touch) on an app icon to bring up quick actions. All apps have quick actions,
              even if it's simply the
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="articles" class="articles-side">
    <div class="side-head">
      <div>
        Articles
      </div>
      <div class="df ai-c color-primary">
        <img [routerLink]="['/article']" class="m-r-10 c-p" src="assets/img/addArtictes.png" alt="">
        <div class="m-r-30">
          Add Article
        </div>
        <img class="c-p" width="22px" src="assets/img/trash.png" alt="">
      </div>
    </div>
    <div class="body-side">
      <div class="articles-row jc-b">
        <div class="df ai-c">
          <input class="m-r-20" type="checkbox">
          <img class="m-r-5" src="assets/img/color-folder.png" alt="">
          <div>
            iPhone 7
          </div>
        </div>
        <div class="c-p icons">
          <img width="18px" src="assets/img/trash.png" alt="">
        </div>
      </div>
      <div class="articles-row jc-b">
        <div class="df ai-c">
          <input class="m-r-20" type="checkbox">
          <img class="m-r-5" src="assets/img/color-folder.png" alt="">
          <div>
            iPhone 7
          </div>
        </div>
        <div class="c-p icons">
          <img width="18px" src="assets/img/trash.png" alt="">
        </div>
      </div>
      <div class="articles-row jc-b">
        <div class="df ai-c">
          <input class="m-r-20" type="checkbox">
          <img class="m-r-5" src="assets/img/color-folder.png" alt="">
          <div>
            iPhone 7
          </div>
        </div>
        <div class="c-p icons">
          <img width="18px" src="assets/img/trash.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="article" class="article-side">
    <div class="side-head">
      <div>
        Article
      </div>
      <div class="df ai-c">
        <img class="m-r-10 c-p" src="assets/img/arrow-left.png" alt="">
        2 of 38
        <img class="m-l-10 rotate-180 c-p" src="assets/img/arrow-left.png" alt="">
      </div>
      <div class="df ai-c">
        <div class="m-r-30 c-p">
          <img [routerLink]="[ '/article' ]" src="assets/img/editArticle.png" alt="">
        </div>
        <img class="c-p" width="22px" src="assets/img/trash.png" alt="">
      </div>
    </div>
    <div class="body-side text-left">
      <div class="tags-wrap">
        <div class="m-r-20 p-t-12">
          Tags:
        </div>
        <div class="chips">
          Self Service
          <img class="close c-p" src="assets/img/close.png" alt="">
        </div>
        <input class="add-tag" type="text" placeholder="Add tag" pInputText />
      </div>
      <div class="p-t-10 p-l-25 p-r-25 p-b-25">
        <p class="fs-11">
          Content > Tecnical > Phones > iPhone > iPhone 9 >
        </p>
        <h4 class="fs-14">
          Using 3D touch
        </h4>
        <p class="fs-12">
          3D Touch is multitouch made multidimensional. With it you can press deeply to launch actions instead of apps,
          reply to notifications, preview messages and links, switch keyboards, switch apps, animate Live Photos, vary
          stroke width, and more. It's like a wormhole through iOS that lets you move around faster than ever.
        </p>
        <p class="fs-12">
          3D Touch is multitouch made multidimensional. With it you can press deeply to launch actions instead of apps,
          reply to notifications, preview messages and links, switch keyboards, switch apps, animate Live Photos, vary
          stroke width, and more. It's like a wormhole through iOS that lets you move around faster than ever.
        </p>
      </div>
      <div class="title-row jc-b bg">
        <div class="df ai-c">
          <div class="fs-14">
            Questions
          </div>
        </div>
        <div class="df ai-c">
          <img class="c-p m-r-5" width="22px" src="assets/img/trash.png" alt="">
          <img (click)="showArticle = true" class="c-p" width="18px" src="assets/img/fasten.png" alt="">
        </div>
      </div>
      <div class="articles-row jc-b">
        <div class="df ai-c">
          <input class="m-r-20" type="checkbox">
          <div>
            Which iPhone, iPad, and iPod touch models support iOS 12?
          </div>
        </div>
        <div class="c-p icons df ai-c">
          <img class="c-p m-r-5" width="22px" src="assets/img/trash.png" alt="">
          <img (click)="showArticle = true" class="c-p" width="18px" src="assets/img/fasten.png" alt="">
        </div>
      </div>
      <div class="articles-row jc-b">
        <div class="df ai-c">
          <input class="m-r-20" type="checkbox">
          <div>
            Which iPhone, iPad, and iPod touch models support iOS 12?
          </div>
        </div>
        <div class="c-p icons df ai-c">
          <img class="c-p m-r-5" width="22px" src="assets/img/trash.png" alt="">
          <img (click)="showArticle = true" class="c-p" width="18px" src="assets/img/fasten.png" alt="">
        </div>
      </div>
    </div>
  </div>

</div>

<app-link-article [show]="showArticle" (hide)="showArticle = false"></app-link-article>