.content-wrap {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 234px);
}
.head {
  height: 76px;
  background: inherit;
  background-color: rgba(242, 242, 242, 1);
  display: flex;
  align-items: center;
  padding-left: 90px;
  padding-right: 50px;
  margin-bottom: 40px;
}
.lable-drb {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 11px;
  color: #1e1e1e;
}
.input-search {
  width: 100%;
  max-width: 533px;
  margin-left: 10px;
  input {
    height: 48px;
    width: 100%;
  }
}
.side-head {
  height: 37px;
  background-color: rgba(228, 228, 228, 1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.body-side {
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(215, 215, 215, 1);
  min-height: 100%;
}
.arrow-right {
  transform: rotate(-90deg);
}
.folder-side {
  width: 225px;
  min-width: 225px;
  margin-right: 20px;
}
.articles-side {
  width: 50%;
  margin-right: 20px;
}
.article-side {
  width: 50%;
  max-width: 550px;
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate--90 {
  transform: rotate(-90deg);
}
.articles-row {
  border-bottom: 1px solid rgba(215, 215, 215, 1);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.3s;
  min-height: 46px;
  .icons {
    display: none;
    align-items: center;
  }
  &:hover {
    background: rgba(223, 245, 249, 1);
    .icons {
      display: flex;
    }
  }
}
.tags-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 15px;
  background-color: rgba(242, 242, 242, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(215, 215, 215, 1);
}
.add-tag {
  height: 27px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 6px;
  width: 120px;
}
.title-row {
  height: 45px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(215, 215, 215);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  padding: 10px 20px;
}
.search-row {
  padding: 20px 20px 10px 20px;
  display: flex;
  font-size: 12px;
  transition: all 0.3s;
  border-bottom: 1px solid rgb(215, 215, 215);
  position: relative;
  .description {
    overflow: hidden;
    color: #999999;
  }
  .delete-icon {
    display: none;
    align-items: center;
    position: absolute;
    right: 20px;
  }
  &:hover {
    background-color: rgba(223, 245, 249, 1);
    .delete-icon {
      display: flex;
    }
  }
}
.stick-row {
  font-size: 11px;
  color: #018191;
  display: flex;
  margin-bottom: 5px;
}
.question-row {
  border-bottom: 1px solid rgb(215, 215, 215);
  &-head {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 5px 10px;
    cursor: pointer;
  }
  &-body {
    padding: 20px 40px 20px 40px;
    background: rgba(242, 242, 242, 1);
    position: relative;
    .question-item {
      height: 55px;
      background: inherit;
      background-color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 20px;
      border: 1px solid rgb(215, 215, 215);
      border-bottom: 0;
      .trash-icon {
        display: none;
        align-items: center;
        cursor: pointer;
      }
      &:hover {
        background-color: rgba(223, 245, 249, 1);
        .trash-icon {
          display: flex;
        }
      }
      &:last-child {
        border-bottom: 1px solid rgb(215, 215, 215);
      }
    }
  }
}
.icon-input {
  position: absolute;
  right: 9px;
  top: calc(50% - 10px);
}
.nitif-circle{
  background: #ff6600;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #feb98c;
  font-size: 10px;
  color: white;
}