@import "../content-management.component.scss";

.title-modal {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  padding: 0 20px;
  min-height: 70px;
}
.button-default {
  background: white;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
  min-width: 135px;
  border: 1px solid #a6a6a6;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-modal {
  padding: 20px;
}
.content-wrap {
  margin-bottom: 40px;
}
.search-wrap {
  padding-left: 245px;
  margin-bottom: 20px;
}
